{%load static%}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="WebRTC code samples" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=yes, initial-scale=1, maximum-scale=1"
    />
    <meta itemprop="description" content="Client-side WebRTC code samples" />
    <meta itemprop="image" content="../../../images/webrtc-icon-192x192.png" />
    <meta itemprop="name" content="WebRTC code samples" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta id="theme-color" name="theme-color" content="#ffffff" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{%static 'voiceRecorder/style.css' %}"
    />
    <base target="_blank" />

    <title>Voice Recognition app</title>
  </head>

  <body>
    <div id="container">
      <h1>
        Please, write your name and upload a .wav file to train the network
      </h1>
      <form
        action="/voiceRecorder/thanks/"
        method="post"
        enctype="multipart/form-data"
      >
        {% csrf_token %}
        <label for="author">Your name:</label>
        <input type="text" id="author" name="author" />
        <label for="audio">Select a file:</label>
        <input type="file" id="audio" name="audio" multiple/>
        <input type="submit" id="submit" value="submit" />
      </form>
    </div>
    <h1>
        Please, upload a .wav file to test the network
      </h1>
      <form
        action="/voiceRecorder/results/"
        method="post"
        enctype="multipart/form-data"
        id="file-catcher"
      >
        {% csrf_token %}
        <label for="testerAudio">Select a file:</label>
        <input type="file" id="testerAudio" name="testerAudio" multiple/>
        <input type="submit" id="submitTest" value="submit" />
      </form>
    </div>

    <script>
      var fileInput = document.getElementByID('audio');
      var fileList = [];
      var fileCatcher = document.getElementById('file-catcher')

      fileInput.addEventListener('change',function (evnt){
        fileList = [];
        for (var i = 0; i<fileInput.files.length; i++){
          fileList.push(fileInput.files[i]);
        }
      });

      fileCatcher.addEventListener('submit',function (evnt){
        evnt.preventDefault();
        fileList.forEach(function (file){
          sendFile(file);
        })
      
      sendFile = function (file){
        var formData = new FormData();
        var request = new XMLHttpRequest();

        formData.set('file',file);
        request.open("POST",'/voiceRecorder/thanks/');
        request.send(formData);
      }
      });


    </script>
    {% csrf_token %}
  </body>
</html>
