{%load static%}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="description" content="WebRTC code samples"/>
    <meta
            name="viewport"
            content="width=device-width, user-scalable=yes, initial-scale=1, maximum-scale=1"
    />
    <meta itemprop="description" content="Client-side WebRTC code samples"/>
    <meta itemprop="image" content="../../../images/webrtc-icon-192x192.png"/>
    <meta itemprop="name" content="WebRTC code samples"/>
    <meta name="mobile-web-app-capable" content="yes"/>
    <meta id="theme-color" name="theme-color" content="#ffffff"/>
    <link rel="stylesheet" type="text/css" href="{%static 'voiceRecorder/style.css' %}">
    <base target="_blank"/>

    <title>Voice Recognition app</title>

</head>

<body>
<div id="container">
    <h1>Voice recorder for training</h1>

    <div id="button-container">
        <button id="record">Start Recording</button>
        <button id="play" disabled>Play</button>
        <button id="submit" disabled>Submit
            {% csrf_token %}
        </button>
    </div>
    <audio id="gum" playsinline autoplay muted></audio>
    <audio id="recorded" playsinline loop></audio>

    <form action="/voiceRecorder/thanks/" method="post" enctype="multipart/form-data">
        {% csrf_token %}
         <label for="author">Tu nombre cabesa:</label>
<input type="text" id="author" name="author">
         <label for="audio">Select a file:</label>
<input type="file" id="audio" name="audio">
        <input type="submit" value="submit">
    </form>

</div>

<script>
    const mediaSource = new MediaSource();
    mediaSource.addEventListener("sourceopen", handleSourceOpen, false);
    let mediaRecorder;
    let recordedBlobs;
    let sourceBuffer;

    const recordedAudio = document.querySelector("audio#recorded");
    const recordButton = document.querySelector("button#record");

    recordButton.addEventListener("click", async () => {
        if (recordButton.textContent === "Start Recording") {
            await init({audio: {}});
            startRecording();
        } else {
            stopRecording();
            recordButton.textContent = "Start Recording";
            playButton.disabled = false;
            submitButton.disabled = false;
        }
    });

    const playButton = document.querySelector("button#play");
    playButton.addEventListener("click", () => {
        const superBuffer = new Blob(recordedBlobs, {type: "audio/wav"});
        recordedAudio.src = null;
        recordedAudio.srcObject = null;
        recordedAudio.src = window.URL.createObjectURL(superBuffer);
        recordedAudio.controls = true;
        recordedAudio.play();
    });

    const submitButton = document.querySelector("button#submit");
    submitButton.addEventListener("click", () => {
        const blob = new Blob(recordedBlobs, {type: "audio/wav"});
        const a = document.createElement("a");
        const thanks = 'http://localhost:8000/voiceRecorder/thanks/'
        let req = new XMLHttpRequest();
        var inputElem = document.createElement('input');
        inputElem.type = 'hidden';
        inputElem.name = 'csrfmiddlewaretoken';
        inputElem.value = '{{ csrf_token }}';
        req.onload = function (e) {
            if (this.readyState === 4) {
                console.log("Server returned: ", e.target.responseText);
            }
        };
        let fd = new FormData();
        fd.append("recording", blob, "filename.wav");
        fd.append("author","Luis");
        fd.append('csrfmiddlewaretoken','{{ csrf_token}}');
        req.open("POST", thanks, true);
        req.send(fd);
        submitButton.disabled = true;


    });

    function handleSourceOpen(event) {
        console.log("MediaSource opened");
        sourceBuffer = mediaSource.addSourceBuffer("audio/wav");
        console.log("Source buffer: ", sourceBuffer);
    }

    function handleDataAvailable(event) {
        console.log("handleDataAvailable", event);
        if (event.data && event.data.size > 0) {
            recordedBlobs.push(event.data);
        }
    }

    function startRecording() {
        recordedBlobs = [];
        let options = {mimeType: "audio/wav"};
        if (!MediaRecorder.isTypeSupported(options.mimeType)) {
            console.error(`${options.mimeType} is not Supported`);
            options = {mimeType: "audio/wav"};
            if (!MediaRecorder.isTypeSupported(options.mimeType)) {
                console.error(`${options.mimeType} is not Supported`);
                options = {mimeType: "audio/wav"};
                if (!MediaRecorder.isTypeSupported(options.mimeType)) {
                    console.error(`${options.mimeType} is not Supported`);
                    options = {mimeType: ""};
                }
            }
        }

        try {
            mediaRecorder = new MediaRecorder(window.stream, options);
        } catch (e) {
            console.error("Exception while creating MediaRecorder:", e);
            return;
        }

        console.log(
            "Created MediaRecorder",
            mediaRecorder,
            "with options",
            options
        );
        recordButton.textContent = "Stop Recording";
        playButton.disabled = true;
        submitButton.disabled = true;
        mediaRecorder.onstop = (event) => {
            console.log("Recorder stopped: ", event);
            console.log("Recorded Blobs: ", recordedBlobs);
        };
        mediaRecorder.ondataavailable = handleDataAvailable;
        mediaRecorder.start(10); // collect 10ms of data
        console.log("MediaRecorder started", mediaRecorder);
    }

    function stopRecording() {
        mediaRecorder.stop();
    }

    function handleSuccess(stream) {
        recordButton.disabled = false;
        console.log("getUserMedia() got stream:", stream);
        window.stream = stream;

        const gumAudio = document.querySelector("audio#gum");
        gumAudio.srcObject = stream;
    }

    async function init(constraints) {
        try {
            const stream = await navigator.mediaDevices.getUserMedia(constraints);
            handleSuccess(stream);
        } catch (e) {
            console.error("navigator.getUserMedia error:", e);
        }
    }
</script>
{% csrf_token %}
</body>
</html>
