* {
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

body {
  background-color: #8887b6;
}
h1 {
  font-family: Roboto, sans-serif;
  text-align: center;
  font-size: 42px;
}
#container {
  margin: 1000px;
  display: block;
  width: 80%;
  margin: auto;
}

button {
  background-color: #ffe87a;
  cursor: pointer;
  color: black;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  width: 33%;
  font-size: 20px;
  padding: 15px;
  margin: auto;
  display: block;
  border: none;
  border-radius: 15px;
}

button:hover {
  background-color: #b3a45e;
}
button:disabled {
  background-color: #53405b;
}
form {
  display: block;
  margin: auto;
}

form label {
  display: block;
  margin: auto;
  margin-top: 15px;
  text-align: center;
  font-size: 24px;
}
form input {
  display: block;
  margin: auto;
  margin-top: 15px;
}

#author,
input[type=submit] {
  background-color: #ffe87a;
  border: none;
  border-radius: 3px;
  padding: 15px;
  font-size: 24px;
  height: 7vh;
}
input[type=submit]{
  cursor: pointer;
  padding: none;
  font-size: 20px;
  vertical-align: center;
  height: 8vh;
}
#audio {
  border: none;
  border-radius: 3px;
}
